<html>
    <head>
        <style>
            @font-face {
                font-family:"Intro";
                src: url("{{url_for('static',filename='styles/fonts/Intro.otf')}}") format("opentype");
            }
            body{
                overflow:hidden;
            }
            .theme-selector{
                display:flex;
                justify-content: space-between;
                align-items:center;
            }
            .theme-selector > a.selector{
                font-size: 250%;
                text-decoration: none;
                width:33%;
                text-align: center;
            }
            .logo{
                float:left;
                vertical-align: center;
                width:auto;
            }
            .logo > img{
                height:80%;
                margin-top:10%;
                margin-left:10%;
            }
            .navbar{
                align-items: center;
                height:8vh;
                background-color:black;
            }
            a {
                text-decoration: none;
                color:white;
                font-family:"Intro";
            }
            .manual{
                border: 3px solid blue;
                border-radius:100%;
                height:2%;
                width: 3%;
                background-color: blue;
                font-size:150%;
                font-family:Intro;
            }
            .modal-manual{
                height:100%;
                width:100%;
                z-index: 1;
                position:fixed;
                left:0;
                top:0;
                background-color: rgba(0,0,0,0.7);
                display:none;
            }
            .manual-content{
                height: 75%;
                width: 75%;
                margin: 10% auto;
                background-color: white;
                overflow-y:auto;
            }
        </style>
        <script src="{{url_for('static' ,filename='lib/jquery-3.4.1.js')}}"> </script>
        <script>
            function toggleModalManual(){
                $("#modal-element-manual").fadeIn("fast");
            }
            function closeModalManual(){
                $("#modal-element-manual").fadeOut("fast");
            }
            $(window).click(function(event) {
                if (event.target.id == "modal-element-manual") {
                    closeModalManual();
                }
            });
            $(window).on("load", function(){
                $(document).on('keydown', function(e) {
                    if(e.which == 112){
                        e.preventDefault();
                        $("#modal-element-manual").fadeToggle("fast");
                    }
                });
            });
        </script>
    </head>
    <body>
        <div class="navbar">
            <div class="theme-selector">
                <a class="logo" href="/"><img src="{{url_for('static',filename='images/mmr.png')}}"/></a>
                <span style="width:1%"></span>
                <a class="selector" href="/thematic">THEMATIC</a>
                <a class="selector" href="/casual">CASUAL</a>
                <a class="selector" href="/evening">EVENING</a>
                <button id="manual-button" class="manual" onClick="toggleModalManual()">?</button>
            </div>
        </div>
        
        <div id="modal-element-manual" tabIndex=1 class="modal-manual">
        <div class="manual-content">
            {% include "manual.html" %}
        </div>
        </div>
    </body>

</html>