<html>
    <head>
        <title>Mr & Ms Risci Pageant Scoresheet</title>
    </head> 
    <style>
        body{
            margin:0;
            padding:0;
            height:100%;
            width:100%;
        }
        .content-handler{
            height:100%;
            width:100%;
        }
    </style>
    <body>
        {% include "contestant-navbar.j2" %}
        {% include "index-raw.j2" %}
        
    </body>
</html>